body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #51caf7;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #51caf7;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #51caf7;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

a:hover {
    color: purple;
}

.boxTop {
    padding-top: 50px;
    background-color: #DDF3F5;
}

.profile-pic {
    width: 14.875rem;
    height: 18.5375rem;
    border: solid 10px;
}

.equality {
    float: left;
    margin-right: 30px;
    width: 16.25rem;
    height: 6.67rem;
}

.books {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}

.law-stuff {
    margin-top: 200px;
}

.middle-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
}

.intro {
    width: 30%;
    margin: auto;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contact-message {
    width: 50%; 
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-container {
    background-color: #DDF3F5;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.copyright {
    font-size: 0.75rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.what-am-i {
    padding-bottom: 50px;
  }

.umich-seal {
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 50px;
  }

.wayne-seal {
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: 50px;
    top: 0;

}

.profile {
    position: relative;
}

.joey {
    text-align: right;
}